<!doctype html>
<html>
<head>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

    </style>
</head>
<body>

<center>
    <h1> Patel, Shreya 1001646429</h1>
    <header><h1> Home </h1></header>
    <div class="row">
        ********************** 2 to 8 million ******************
        <table border=1>
            <thead>
            <td>State Name</td>
            </thead>
            <tbody>
            {% for row in rows%}
            <tr>
                <td>{{row}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    ********************* 8 to 40 million ************
    <div class="row">
        </table>
        <br>
        <table border=1>
            <thead>
            <td>State Name</td>
            </thead>
            <tbody>
            {% for row in rows1%}
            <tr>
                <td>{{row}}</td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>

</center>
</body>
</html>